/*

Theme Name: IMPORFLEX
Author: Amapolazul
Author URI: http://www.amapolazul.com
Description: Template for IMPORFLEX.
Version: 1.0

*/

/* ---------- General ---------- */

@font-face {
	font-family: "Open Sans Regular";
	src: url(assets/css/fonts/Open-Sans-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans Regular";
	font-size: 12px;
	color: #5d5d5d;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

p {
	margin-bottom: 10px;
	font-size: 12px !important;
}

a {
	color: #0074c2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

/* ---------- Template ---------- */

/* Header */

.header {}

.moduletable_h1 {
	padding: 12px 0;
}

.moduletable_h1 .textwidget {
	text-align: center;
}

.moduletable_h2 {}

.moduletable_h2 .textwidget {
	display: flex;
	flex-direction: row;
}

.moduletable_h2 .h2_left,
.moduletable_h2 .h2_right {
	max-width: 210px;
	flex-grow: 1;
}

.moduletable_h2 .h2_left {
	padding: 10px;
	color: #0074c2;
	text-align: right;
}

.moduletable_h2 .h2_right {
	padding: 0 10px;
	background-color: #0074c2;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 22px;
	color: #fff;
	text-align: center;
}

.moduletable_h3 {}

.moduletable_h3 .top-bar,
.moduletable_h3 .top-bar.expanded .title-area {
	background: transparent;
}

.moduletable_h3 .top-bar .toggle-topbar.menu-icon a span:after {
	box-shadow: 0 0 0 1px #0074c2, 0 7px 0 1px #0074c2, 0 14px 0 1px #0074c2;
}

.moduletable_h3 li {
	background: transparent !important;
}

.moduletable_h3 a {
	background: transparent !important;
	background-image: url(assets/images/moduletable_h3_a_bg.png) !important;
	background-position: right !important;
	background-repeat: no-repeat !important;
	font-family: "Open Sans Regular";
	font-size: 14px;
	color: #0074c2 !important;
	text-transform: uppercase !important;
}

.moduletable_h3 li.current-menu-item a,
.moduletable_h3 a:hover {
	color: #ff6f00 !important;
	text-decoration: none;
}

.moduletable_h4 {
	padding: 8px 0;
	background-color: #0074c2;
}

.moduletable_h4 .textwidget {
	text-align: center;
}

/* Content */

.content {
	padding: 10px 0;
	background: url(assets/images/content_bg.png) repeat-x;
}

a.left-off-canvas-toggle {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
}

.left-off-canvas-menu {
	background: transparent;
}

.left {
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.left h3 {
	max-width: 105px;
	margin: 0 auto;
	padding: 5px 0;
	background-color: #0074c2;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.menu-products-menu-container {}

ul#menu-products-menu,
ul#menu-products-menu-1 {
	margin: 0;
}

ul#menu-products-menu li,
ul#menu-products-menu-1 li {}

ul#menu-products-menu li:hover,
ul#menu-products-menu-1 li:hover {
	background: url(assets/images/menu-products-menu_li_hover_bg.png) no-repeat #f2f2f2;
}

ul#menu-products-menu a,
ul#menu-products-menu-1 a {
	margin: 0 5px;
	padding: 5px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 12px;
	color: #5d5d5d;
	text-transform: uppercase;
	display: block;
}

ul#menu-products-menu a:hover,
ul#menu-products-menu-1 a:hover {
	text-decoration: none;
}

ul#menu-products-menu a:before,
ul#menu-products-menu-1 a:before {
	content: ">> ";
	color: #ff6f00;
}

.moduletable_ba1 {
	margin-bottom: 20px;
}

/* Slider */

.slider {
	margin: 10px 0;
	padding: 10px 0;
	background-color: #f2f2f2;
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: #4d4d4d;
	font-size: 18px;
	color: #fff;
}

.bottom a {
	color: #fff;
}

/* Copyright */

.copyright {
	padding: 0 10px 10px 10px;
	background-color: #4d4d4d;
	color: #fff;
	text-align: center;
}

.copyright a {
	color: #fff;
}

/* ---------- Contents ---------- */

/* General */

.box_1 {
	padding: 15px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}

.box_2 {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
}

/* Contact */

.contact_1 {
	margin: 0 !important;
	padding-bottom: 20px;
}

.contact_2 {
	margin: 0 !important;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
}

.contact_2 h1 {
	font-size: 14px;
	font-weight: bold;
	color: #0074c2;
	text-transform: uppercase;
}

.contact_2 p {
	margin-bottom: 0 !important;
}

.contact_2 input[type="text"],
.contact_2 input[type="email"],
.contact_2 textarea {
	margin: 0;
	background-color: #f2f2f2;
	border: none;
	box-shadow: none;
	font-size: 12px;
}

.contact_2 input[type="submit"] {
	padding: 5px 10px;
	background-color: #ff6f00;
	border: none;
	color: #fff;
}

/* ---------- Plugins ---------- */

/* WooCommerce */

/* Products */

.woo_products {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.woo_products h1.page-title {
	margin: 0;
	margin-bottom: 15px;
	font-family: "Open Sans Regular";
	font-size: 26px;
	color: #0074c2;
}

.woo_products .row {
	margin: 0;
}

.woo_products .woo_product {
	padding: 10px;
}

.woo_products .woo_product .woo_product_border {
	border: 1px solid #e6e6e6;
}

.woo_products .woo_product a.woocommerce-LoopProduct-link {
	text-align: center;
	display: block;
}

.woo_products .woo_product a.woocommerce-LoopProduct-link img {
	width: auto;
	height: 220px;
	padding: 10px;
}

.woo_products .woo_product a.woocommerce-LoopProduct-link h3 {
	margin: 0;
	padding: 10px;
	background-color: #0074c2;
	font-family: "Open Sans Regular";
	font-size: 12px;
	color: #fff;
}

.woo_products .woo_product a.button.product_type_simple.ajax_add_to_cart {
	display: none;
}

.woocommerce-pagination ul.page-numbers {
	margin: 0;
}

.woocommerce-pagination ul.page-numbers li {
	display: inline-block;
}

.woocommerce-pagination ul.page-numbers li span,
.woocommerce-pagination ul.page-numbers li a {
	width: 20px;
	height: 20px;
	background-color: #0074c2;
	color: #fff;
	line-height: 20px;
	text-align: center;
	display: block;
}

/* Product */

.woo_products .images {
	width: 50%;
	border: 1px solid #e6e6e6;
	text-align: center;
	float: left;
	position: relative;
}

.woo_products .summary.entry-summary {
	width: 50%;
	float: right;
	position: relative;
}

.woo_products .summary.entry-summary .product_meta {
	display: none;
}

.woo_products .summary.entry-summary h1.product_title.entry-title {
	margin: 0;
	margin-left: 15px;
	margin-bottom: 15px;
	font-family: "Open Sans Regular";
	font-size: 26px;
	color: #0074c2;
}

.woocommerce-tabs.wc-tabs-wrapper .panel {
	background: none;
	border: none;
}

.woocommerce-tabs.wc-tabs-wrapper .panel strong {
	color: #0074c2;
}

#tab-description h2 {
	display: none;
}

.woocommerce-tabs.wc-tabs-wrapper {
	width: 50%;
	float: right;
	position: relative;
}

.description_tab,
.reviews_tab {
	display: none;
}

.woo_products .related.products {
	display: none;
}

.woo_products .woocommerce-Tabs-panel--reviews {
	display: none;
}

/* ---------- Media Queries ---------- */

/* Small screens */

/* Define mobile styles */

@media only screen {}

/* max-width 640px */

@media only screen and (max-width: 40em) {

	/* Header */

	.moduletable_h2 .h2_left {
		text-align: center;
	}

	.moduletable_h2 .h2_right {
		padding: 10px;
		font-size: 12px;
	}

}

/* Medium screens */

/* min-width 641px */

@media only screen and (min-width: 40.063em) {}

/* min-width 641px and max-width 1024px */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* Large screens */

/* min-width 1025px */

@media only screen and (min-width: 64.063em) {}

/* min-width 1025px and max-width 1440px */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* XLarge screens */

/* min-width 1441px */

@media only screen and (min-width: 90.063em) {}

/* min-width 1441px and max-width 1920px */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* XXLarge screens */

/* min-width 1921px */

@media only screen and (min-width: 120.063em) {}

/* ---------- Others ---------- */

.columns_no {
	padding: 0;
}

.clear {
	clear: both;
}